.main-menu {
  position: fixed;
  width: 120px;
  height: 100vh;
  background-color: $color-orange-chilean-fire;
  color: $color-white;
  box-shadow: 2px 0px 10px rgba($color-black, 0.3);

  span {
    color: $color-white;
  }

  .logo {
    height: 130px;
    width: 100%;
    border-bottom: 2px solid $color-white;

    &__content {
      height: 100%;
    }

    img {
      width: 90px;
    }
  }

  .nav-item {
    height: 110px;
    position: relative;
    justify-content: center;
    &__content {
      height: 100%;
      svg {
        height: 45px;
        width: 45px;
        color: $color-white;
      }
    }
    a {
      &::before {
        content: "";
        position: absolute;
        top: 0;
        height: 0%;
        width: 6px;
        -ms-flex-item-align: start;
        align-self: flex-start;
        background-color: #fff;
        -webkit-transition: 0.3s cubic-bezier(0.645, 0.045, 0.355, 1) height;
        transition: 0.3s cubic-bezier(0.645, 0.045, 0.355, 1) height;
      }

      &:hover {
        &::before {
          height: 110px;
        }
      }
    }

    .router-link-active {
      &::before {
        height: 110px;
      }
    }
    border-bottom: 2px solid $color-white;
    width: 100%;
  }
}
