<ul class="main-menu nav flex-column align-items-center">
	<li class="logo">
		<router-link to="/tasks">
			<div class="d-flex justify-content-center align-items-center logo__content">
				<img src="../../assets/Icons/canopy.svg" alt="RF Tasks" class="header-logo__image" />
			</div>
		</router-link>
	</li>
	<li class="nav-item">
		<router-link to="/tasks">
			<div class="d-flex align-items-center flex-column justify-content-center nav-item__content">
				<img src="../../assets/Icons/tasks.svg" alt="Tasks" class="item-icon" />
				<span class="item-description d-none d-md-block">Tasks</span>
			</div>
		</router-link>
	</li>
	<li class="nav-item">
		<router-link to="/messages">
			<div class="d-flex align-items-center flex-column justify-content-center nav-item__content">
				<img src="../../assets/Icons/comments.svg" alt="Messages" class="item-icon" />
				<span class="item-description d-none d-md-block">Messages</span>
			</div>
		</router-link>
	</li>
	<li class="nav-item">
		<router-link to="/resources">
			<div class="d-flex align-items-center flex-column justify-content-center nav-item__content">
				<img src="../../assets/Icons/copy.svg" alt="Resources" class="item-icon" />
				<span class="item-description d-none d-md-block">Resources</span>
			</div>
		</router-link>
	</li>
	<li class="nav-item">
		<router-link to="/profile">
			<div class="d-flex align-items-center flex-column justify-content-center nav-item__content">
				<img src="../../assets/Icons/user.svg" alt="Profile" class="item-icon" />
				<span class="item-description d-none d-md-block">Profile</span>
			</div>
		</router-link>
	</li>
</ul>