<div class="task-details">
	<div class="row task-details__wrapper">
		<div class="col-md-6 content d-flex flex-column">
			<div class="back">
				<router-link to="/tasks">
					<h5>
						<font-awesome-icon icon="long-arrow-alt-left" /> GO BACK TO TASKS LIST
					</h5>
				</router-link>
			</div>
			<div class="content__description">
				<div class="headline">
					<h1>{{ task.name }}</h1>
					<h5>DEADLINE {{ new Date(task.deadline).toLocaleString().toUpperCase() }}</h5>
				</div>
				<div v-html="task.description"></div>
			</div>
		</div>
		<div class="col-md-6">
			<template v-if="task.editor.type === 'file'">
				<UploadArea 
					:onSubmit="submitFile"
				></UploadArea>
			</template>
			<template v-else-if="task.editor.type === 'list'">
				<EditorTable 
					:columns="task.editor.columns"
					:onSave="submitRows"
				></EditorTable>
			</template>
		</div>
	</div>
</div>