.task-details {
  padding: 30px 50px;
  height: 100%;
  .col-md-6 {
    height: 100%;
  }
  &__wrapper {
    height: 100%;
  }
  .content {
    height: 100%;
    &__description {
      margin-bottom: 20px;
      .headline {
        h5 {
          color: $color-green-shamrock;
        }
      }
    }
  }
}
