/// <reference path="../Helpers/_vars" />
/// <reference path="../Helpers/_mixins" />
/// <reference path="../Helpers/_fonts" />

.main-menu {
    min-height: 100vh;
    width: 50%;
    background-color: $color-orange-chilean-fire;
    color: $color-white;
    box-shadow: 2px 0px 10px rgba($color-black, .3);

    &.column {
        padding: 0;
    }
}

.header-logo {
    display: flex;
    flex-direction: column;
    padding-top: 2.5rem;
    padding-bottom: 5rem;
    border-bottom: .1rem solid $color-white;
    align-items: center;

    &__image {
        width: 70%;
    }
}

.main-menu-list {
    &__item {
        display: flex;
        flex-direction: column;
        border-bottom: .1rem solid $color-white;
        align-items: center;
        cursor: pointer;
        position: relative;

        &::before {
            content: '';
            position: absolute;
            height: 0%;
            width: .5rem;
            left: .5rem;
            align-self: flex-start;
            background-color: $color-white;
            transition: $transition height;
        }

        .item-icon {
            height: 3.5rem;
            width: 40%;
            margin-top: 1rem;
            margin-bottom: 1rem;
        }

        .item-description {
            @include font-4000;
            font-size: .9rem;
            margin-bottom: .5rem;
        }
    }

    a {
        color: $color-white;

        &:hover {
            color: $color-white;

            .main-menu-list {
                &__item {
                    &::before {
                        height: 100%;
                    }
                }
            }
        }
    }

    .router-link-exact-active {
        .main-menu-list {
            &__item {
                &::before {
                    height: 100%;
                }
            }
        }
    }
}