<div class="modal" :class="{show: showModal}" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-body">
				<h4>Are you sure you want to continue?</h4>
				<p>The following action might be irreversible.</p>
			</div>
			<div class="modal-footer">
				<button class="btn btn-danger" @click="cancelAction"><h5>Cancel</h5></button>
				<button class="btn btn-success" @click="continueAction"><h5>Continue</h5></button>
			</div>
		</div>
	</div>
</div>