<section class="resource-tabs">
	<div class="container-fluid px-0">
		<div class="row">
			<div id="left-col" class="col-md-5  border-right border-secondary px-0">
				<h1 class="text-uppercase border-bottom border-secondary mb-0 p-2">Resources</h1>
				<ul class="list-group">
					<li class="list-group-item" v-for="tab in tabs" :class="{'activeTab': tab.isActive}">
						<a :href="tab.href" @click="selectTab(tab)">
							<div class="d-flex flex-row">
								<font-awesome-icon icon="copy" />
								<p class="ml-4 my-0 align-self-center">{{ tab.name }}</p>
							</div>
						</a>
					</li>
				</ul>
			</div>
			<div class="col-md-7 px-0">
				<h1 class="border-secondary border-bottom p-2 mb-0"><span class="invisible">Files</span></h1>
				<ul class="list-group">
					<li class="list-group-item resource-tabs__list">
						<slot></slot>
					</li>
				</ul>
			</div>
		</div>
	</div>
</section>