.resource-tabs {

    li {
        &:hover {
            cursor: pointer;
        }
    }

    a {
        color: $color-black;
    }

    &--active-tab {
        background-color: $color-grey-gallery;
    }

    &__icon {
        font-size: 5rem;
    }
}