.resource-tabs {
    height: 87vh;
   
    li {
        &:hover {
            cursor: pointer;
        }
    }

    #left-col {
        height: 87vh;
    }

    h1 {
        font-family: $font-bold;
        color: $color-black;
    }
    
    a {
        color: $color-black;
    }

    .activeTab {
        background-color: $color-grey-gallery;
    }

    &__list {
        padding: 0;
    }
}