<section class="profile">
	<div class="container-fluid pl-0">
		<div class="col-sm-12 col-md-5 px-0">
			<h1 class="mb-0 p-2">Profile</h1>
			<ul class="list-group">
				<li class="list-group-item border-0 pl-0 pb-0">
					<div class="container mb-2">
						<p class="profile__list-info text-uppercase m-0 p-0">Name:</p>
						<p class="m-0 p-0"> {{ user.name }} </p>
					</div>
				</li>
				<li class="list-group-item border-0 pl-0 pb-0">
					<div class="container mb-2">
						<p class="profile__list-info text-uppercase m-0 p-0">Company:</p>
						<p class="m-0 p-0"> {{ user.company }} </p>
					</div>
				</li>
				<li class="list-group-item border-0 pl-0 pb-0">
					<div class="container mb-2">
						<p class="profile__list-info text-uppercase m-0 p-0">Email:</p>
						<div class="d-flex justify-content-between flex-wrap align-items-center px-0">
							<p class="m-0 p-0"> {{ user.email }} </p>
							<button class="btn profile--btn btn-success">Edit</button>
						</div>
					</div>
				</li>
				<li class="list-group-item border-0 pl-0 pb-0">
					<div class="container mb-2">
						<p class="profile__list-info text-uppercase m-0 p-0">Password:</p>
						<div class="d-flex justify-content-between flex-wrap align-items-center px-0">
							<p class="m-0 p-0"> {{ user.password }} </p>
							<button class="btn profile--btn btn-success">Edit</button>
						</div>
					</div>
				</li>
				<li class="list-group-item border-0 pl-0 pb-0">
					<div class="container mb-2">
						<p class="profile__list-info text-uppercase m-0 p-0">Status:</p>
						<div class="mb-1 border w-25 rounded"
							:class="[ user.status === 'Active' ? 'border-success' : 'border-danger' ]">
							<p class="text-center m-0 p-0"> {{ user.status }} </p>
						</div>
					</div>
				</li>
				<li class="list-group-item border-0 pl-0 pb-0">
					<div class="container mb-2">
						<p class="profile__list-info text-uppercase m-0 p-0">Access group:</p>
						<div class="mb-1 border profile__border-color rounded col-md-6">
							<p class="text-center m-0 p-0"> {{ user.accessGroup }} </p>
						</div>
						<button type="button" v-on:click="logout" class="btn btn-danger">Log out</button>
					</div>

				</li>
			</ul>

		</div>
	</div>
</section>