.editor-table-wrapper {
  height: 100%;
  .editor-table {
    height: 100%;
    overflow: auto;
	border: 1px solid $color-grey-foundation;
	position: relative;
	&__placeholder {
		position: absolute;
		height: 100%;
		width: 100%;
		color: $color-black;
	}
    .editor-row {
      &__cell {
        padding: 0;
        input {
          width: 100%;
          display: block;
          border: none;
          background-color: unset;
          border: 2px solid transparent;
          padding: 20px 5px;
          &:focus {
            border: 2px solid $color-black;
            outline: none;
          }
          &:hover {
            background-color: $color-grey-gallery;
          }
        }
      }
      &__actions {
        padding: 20px !important;
        .icon {
          margin: 0 5px;
          cursor: pointer;
          color: $color-black;
          &--error {
            &:hover {
              color: $color-red-carnation;
            }
          }
        }
      }
    }
  }
  .table-controls {
    width: 100%;
    margin-top: 15px;
    button {
	  width: 31%;
	  svg {
		font-size: 1.5rem;
		margin-left: 10px;
		margin-top: -5px;
	  }
    }
  }
}