<tr class="editor-row">
	<EditorCell v-for="(cell, cellIndex) in row" :key="cellIndex" :cell="cell" :isEditable="isEditable"></EditorCell>
	<td class="editor-row__actions">
		<div class="d-flex justify-content-center align-items-center">
			<template v-if="isEditable">
				<div @click="commitEdit" class="icon icon--success">
					<font-awesome-icon icon="check" />
				</div>
				<div @click="discardEdit" class="icon icon--error">
					<font-awesome-icon icon="times" />
				</div>
			</template>
			<template v-else>
				<div @click="enableEditing" class="icon icon--success">
					<font-awesome-icon icon="edit" />
				</div>
				<div @click="deleteRow" class="icon icon--error">
					<font-awesome-icon icon="times" />
				</div>
			</template>
		</div>
	</td>
</tr>