<tr>
	<EditorCell 
		v-for="(val, key) in isEditable ? tempRow : row" 
		:key="key" 
		:cell="val"
		:columnName="key"
		:isEditable="isEditable"
		:onInputChange="onInputChange"
	></EditorCell>
	<td>
		<template v-if="isEditable">
			<div @click="commitEdit">
				<font-awesome-icon icon="check" />
			</div>
			<div @click="discardEdit">
				<font-awesome-icon icon="times" />
			</div>
		</template>
		<template v-else>
			<div @click="enableEditing">
				<font-awesome-icon icon="edit" />
			</div>
			<div @click="deleteRow">
				<font-awesome-icon icon="times" />
			</div>
		</template>
	</td>
</tr>