@import './font-faces';

* {
	font-family: $font-default;
}
body {
	background-color: $color-grey-gallery !important;
}

a {
	text-decoration: none !important;
}

h1, h2, h3, h4, h5, h6 {
	font-family: $font-bold;
}