<section class="tasks-list">
	<ul>
		<router-link v-for="(task, index) in tasksList" class="task d-flex justify-content-between align-items-center"
			:to="'tasks/' + index" tag="li" :key="task.id">
			<p class="task__name">{{ task.name }}</p>
			<div class="task__deadline d-flex align-items-center">
				<p :class="
				getTimeToDeadline(task.deadline) === 'Overdue' 
					? 'task__deadline--expired' 
					: null">{{ getTimeToDeadline(task.deadline) }}</p>
			</div>
			<div class="task__type" :style="{ backgroundColor: task.type.color }">
				<p>{{ task.type.name }}</p>
			</div>
		</router-link>
	</ul>
</section>