<section class="tasks-list">
	<ul>
		<li v-for="task in tasksList" class="task d-flex justify-content-between align-items-center">
			<p class="task__name">{{ task.Name }}</p>
			<div class="task__deadline d-flex align-items-center">
				<p :class="
					task.timeToDeadline === 'Overdue' 
						? 'task__deadline--expired' 
						: null"
				>{{ task.timeToDeadline }}</p>
			</div>
			<div class="task__type" v-bind:style="{ backgroundColor: '#' + task.Category.Color.Value }">
				<p>{{ task.Category.Name }}</p>
			</div>
		</li>
	</ul>
</section>