<section class="messages">
    <div v-if="loaded" class="container-fluid">
        <div class="row">
            <div class="col-xl-3 col-lg-4 col-md-5 col-sm-12 mr-auto px-0 messages__tabs"
                v-if="mobileOverlayActive == false">
                <div class="header d-flex align-items-center">
                    <h1 class="mb-0 p-2 header__headline">Messages</h1>
                </div>
                <div class="categories-list">
                    <div class="categories-list__item align-items-center d-flex" :class="{ active: isActive(category) }"
                        v-for="category in categories" v-on:click="setActive(category)" :key="category.Id">
                        <div class="category-icon" v-bind:style="{ color: '#' + category.Color.Value }">
                            <font-awesome-icon icon="circle" />
                            <span>{{ category.ShortName }}</span>
                        </div>
                        <div class="category-content">
                            <h4 class="category-content__name">{{ category.Name }}</h4>
                            <span v-if="category.Messages != ''" class="category-content__message-snippet">
                                {{ getSender(category.Messages[0].isFromAdmin) }}
                                {{ textTruncate(category.Messages[0].Content, isMobile ? 20 : 15, '...') }} -
                                {{ getTimeFromDate(category.Messages[0].Date) }}
                            </span>
                            <span v-else class="category-content__message-snippet">No messages yet</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col messages__view" v-if="isMobile == false">
                <div class="row d-flex flex-column h-100">
                    <div class="header d-flex align-items-center p-2">
                        <div class="header__message-icon"
                            v-bind:style="{ backgroundColor: '#' + activeCategory.Color.Value }">
                            <span>{{activeCategory.ShortName}}</span>
                        </div>
                        <h2 class="mb-0 p-2 header__headline">{{activeCategory.Name}}</h2>
                    </div>
                    <div data-content class="content">
                        <MessageView :messages="sortMessages(activeCategory.Messages)"
                            :noMessage="activeCategory.StandardMessage"></MessageView>
                    </div>
                    <div class="editor">
                        <textarea-autosize placeholder="Aa" v-model="messageContent" :min-height="45" :max-height="350"
                            class="editor__textfield" />
                        <span class="editor__button d-flex align-items-center" type="submit" v-on:click="submitMessage">
                            <font-awesome-icon icon="paper-plane" /></span>
                        <span v-show="errorMessage != ''">{{ errorMessage }}</span>
                    </div>
                </div>
            </div>
            <div class="col messages__view" v-if="mobileOverlayActive">
                <div class="row d-flex flex-column h-100">
                    <div class="header d-flex align-items-center p-2">
                        <div class="header__back" v-on:click="mobileOverlayActive = false, activeCategory = undefined">
                            <font-awesome-icon icon="chevron-left" />
                        </div>
                        <div class="header__message-icon"
                            v-bind:style="{ backgroundColor: '#' + activeCategory.Color.Value }">
                            <span>{{activeCategory.ShortName}}</span>
                        </div>
                        <h2 class="mb-0 p-2 header__headline">{{activeCategory.Name}}</h2>
                    </div>
                    <div data-content class="content">
                        <MessageView :messages="sortMessages(activeCategory.Messages)"
                            :noMessage="activeCategory.StandardMessage"></MessageView>
                    </div>
                    <div class="editor">
                        <textarea-autosize placeholder="Aa" v-model="messageContent" :min-height="45" :max-height="350"
                            class="editor__textfield" />
                        <span class="editor__button d-flex align-items-center" type="submit" v-on:click="submitMessage">
                            <font-awesome-icon icon="paper-plane" /></span>
                        <span v-show="errorMessage != ''">{{ errorMessage }}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div v-else class="container-fluid h-100">
        <div class="h-100 d-flex justify-content-center align-items-center">
            <Loader />
        </div>
    </div>

</section>