<section v-if="loaded" class="messages">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3 col-sm-12 mr-auto px-0 messages__tabs">
                <div class="header d-flex align-items-center">
                    <h1 class="mb-0 p-2 header__headline">Messages</h1>
                </div>
                <button v-for="category in categoriesList" v-on:click="setActive(category)" :key="category.Id">{{ category.Name }}</button>
            </div>
            <div class="col messages__view">
                <div class="row">
                    <div class="header d-flex align-items-center p-2">
                        <div class="header__message-icon" v-bind:style="{ backgroundColor: '#' + activeCategory.Color.Value }">
                            <span>{{activeCategory.ShortName}}</span>
                        </div>
                        <h2 class="mb-0 p-2 header__headline">{{activeCategory.Name}}</h2>
                    </div>
                    <div class="col-12 content">
                        <MessageView :messages="sortedMessages"></MessageView>
                    </div>
                    <div class="col-12 editor">
                        <input class="editor__textfield" v-model="messageContent" placeholder="Aa">
                        <span class="editor__button" type="submit" v-on:click="submitMessage"><font-awesome-icon icon="paper-plane" /></span>
                        <span v-show="errorMessage != ''">{{ errorMessage }}</span>
                    </div>
                </div>


            </div>
        </div>

    </div>

</section>