<section class="resources">
  <div class="container-fluid">
    <h1>hello world</h1>
    <ul>
      <li>
        <router-link to="/">
        Home (tabs)
        </router-link>
      </li>
      <li>
        <router-link to="/profile">
        About (resource list (right))
        </router-link>
      </li>
    </ul>
    <router-view name="resources"></router-view>
    <!-- Render categories dynamically-->
<!--     <Tabs >
      <ResourcesList v-for="(category, index) in categories" :key="index" :name="category.title">
        <ul class="list-group">
          <li class="list-group-item" v-for="(file, index) in category.info"  :key="index">
            <div class="d-flex justify-content-between">
              <div class="col-md-1 d-flex align-items-center">
                  <span class="align-self-center my-0 resources-list__icon" :class="{ 'invisible': isRead }"></span>
              </div>
              <div class="col-md-5 d-flex align-items-center">
                  <p class="align-self-center my-0"> {{ file.name }} </p>
              </div>
              <div class="col-md-2 d-flex align-items-center">
                  <p class="align-self-center my-0"> {{ file.type }} </p>
              </div>
              <div class="col-md-4 d-flex justify-content-end">
                 <p class="align-self-center my-0"> {{ file.filePath }} </p>
                  <button class="btn btn-warning resources__button border-0">Download</button>
              </div>
            </div>
          </li>
        </ul>
      </ResourcesList>
    </Tabs> -->

  </div>
</section>