.resources {
    h1 {
        font-family: $font-bold;
        color: $color-black;
    }
    #left-row {
        height: 87vh;
    }
    &--active {
        background-color: red;
    }
    &__file-item {
        margin-top: 1rem !important;
    }
    &__button {
        background-color: $color-orange-chilean-fire;
        color: $color-white;
        &:hover {
            border: none;
        }
    }
}