<section class="resource-file-list">
<p>Category: {{ $route.params.resourcelist }} </p>
<ul class="list-group">
  <li class="list-group-item">
      <div class="d-flex justify-content-between">
        <div class="col-md-5 d-flex align-items-center">
            <p class="align-self-center my-0"> file name </p>
        </div>
        <div class="col-md-2 d-flex align-items-center">
            <p class="align-self-center my-0"> file type </p>
        </div>
        <div class="col-md-4 d-flex justify-content-end">
            <p class="align-self-center my-0"> file path </p>
            <button class="btn btn-warning resources__button border-0">Download</button>
        </div>
      </div>
    </li>
  </ul>
</section>

